/*Ajusta el borde completo al menu*/
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.menu-superior {
    text-align: right;
}

.menu-superior li {
    display: inline;
    margin-right: 20px;
}

.producto {
    width: 100%;
}

.correo{
    color: blue;
    text-decoration: underline;
}

/*Card es igual al producto*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

/*Ajusta el logo que sale en el menu*/
.logo {
    max-width: 180px;
    height: auto;
}

/*Cambiar la letra y el tamaño a la fuente del menu*/
.navbar-link {
    font-size: 100px; /* Cambia el tamaño de la fuente */
    font-family: "Comic Sans MS", cursive, sans-serif; /* Cambia la fuente */
}

/*Ajuste de foto dentro del marco*/
.foto-producto {
    height: 160px;
    object-fit: contain;
}

/*Ajuste de columna*/
.row-cols-custom {
    margin: 15px;
}

/* Estilos para separar los botones */
.btn-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-group button {
    flex: 1;
    margin-right: 50px;
  }
  
  #preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
.input-group-append button {
    margin-left: 5px;
}

.form-control {
  width: 400px;
}

.btn-third {
  border: 1px solid #dc3545;
}

.wrapper {
  min-height: 100vh; /* Set the minimum height of the wrapper to the full viewport height */
  display: flex;
  flex-direction: column;
}

.table {
  flex: 1; /* Make the table take up all the remaining vertical space */
}

.promo-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  margin: 20px 0;
}

.focus-producto {
  padding: 20px;
  height: 320px;
  object-fit: contain;
}
.focus-descrip{
  height: 320px;
  border: 1px solid black;
}

.producto-en-bodega{
  color: green;
}
.producto-agotado{
  color: red;
}

.content-wrapper {
  text-align: center;
}

.anuncio {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.anuncio img {
  max-width: 100%;
}


